<div class="container">
  <div class="row">
    <div class="col-12">
      <p>{{ title }}</p>
    </div>
    <div class="col-6">
      <input
        #categoryId="ngModel"
        type="number"
        class="form-control"
        id="categoryId"
        name="categoryId"
        placeholder="Category ID"
        [(ngModel)]="toUpdateProduct.categoryId"
        [ngClass]="{
          'is-invalid': categoryId.invalid && categoryId.touched,
          'is-valid': categoryId.valid && categoryId.touched
        }"
        required
      />
    </div>
    <div class="col-6 mt-3">
      <input
        #name="ngModel"
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Product name"
        [(ngModel)]="toUpdateProduct.name"
        [ngClass]="{
          'is-invalid': name.invalid && name.touched,
          'is-valid': name.valid && name.touched
        }"
        required
      />
    </div>
    <div class="col-6 mt-3">
      <input
        #description="ngModel"
        type="text"
        class="form-control"
        id="description"
        name="description"
        placeholder="Product description"
        [(ngModel)]="toUpdateProduct.description"
        [ngClass]="{
          'is-invalid': description.invalid && description.touched,
          'is-valid': description.valid && description.touched
        }"
        required
      />
    </div>
    <div class="col-6 mt-3">
      <input
        #price="ngModel"
        type="number"
        class="form-control"
        id="price"
        name="price"
        placeholder="Price"
        [(ngModel)]="toUpdateProduct.price"
        [ngClass]="{
          'is-invalid': price.invalid && price.touched,
          'is-valid': price.valid && price.touched
        }"
        required
      />
    </div>
    <div class="col-6 mt-3">
      <input
        #stock="ngModel"
        type="number"
        class="form-control"
        id="stock"
        name="stock"
        placeholder="Stock"
        [(ngModel)]="toUpdateProduct.stock"
        [ngClass]="{
          'is-invalid': stock.invalid && stock.touched,
          'is-valid': stock.valid && stock.touched
        }"
        required
      />
    </div>
    <div class="col-6 mt-3">
      <button
        type="button"
        (click)="addEdit()"
        class="btn btn-primary d-flex align-items-center"
      >
        <i class="fa-solid fa-pencil white me-2"></i>
        <p class="mb-0">{{ title }}</p>
      </button>
    </div>
  </div>
</div>